<table class="table shadow table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Food</th>
      <th scope="col">Measurement unit</th>
      <th scope="col">Unit price</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody class="foods-table">
    <% @items.each do |item| %>
      <tr>
        <th scope="row"><%= item.name %></th>
        <td><%= item.measurement_unit %></td>
        <td><%= item.price %></td>
        <td><%= button_to 'Delete', food_path(item.id), class: 'btn btn-danger', method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
